{% extends 'base.html' %}
{% block title %}
    首页
{% endblock %}
{% block mycss %}
    <style>
    .sidenav-item{
        padding-left: 22px;
    padding-right: 52px;
    }
    .sidenav{
        color: #555;
    font-size: 14px;
    line-height: 22.5px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    }
    ul{
        list-style: none;
        list-style-position: initial;
        list-style-image: initial;
        list-style-type: none;
    }
    </style>
{% endblock %}
{% block center %}

    <div>
        <ul class="sidenav">
            <li class="sidenav-item"><a href=""><span>1</span></a></li>
            <li class="sidenav-item"><a href=""><span>2</span></a></li>
            <li class="sidenav-item"><a href=""><span>3</span></a></li>
            <li class="sidenav-item"><a href=""><span>4</span></a></li>
            <li class="sidenav-item"><a href=""><span>5</span></a></li>
            <li class="sidenav-item"><a href=""><span>6</span></a></li>
            <li class="sidenav-item"><a href=""><span>7</span></a></li>
        </ul>
    </div>


{% endblock %}
{% block footer %}
<div style="width: 100%;height: 50px;background-color: #1c7430"></div>
{% endblock %}
